{% extends "base.html" %}
{% block title %}

{% endblock title %}
{% block body %}

<section class="container">
    <div class="row justify-content-center text-center g-2">
        <div class="">
            <h2>
                   crud project django
            </h2>
        </div>
    </div>
      <form action="#" method="post" class="justify-content-center text-center col-lm-8">
        {% csrf_token %}
        {{form}}
       <input type="submit" value="submit" class="btn btn-primary float-end">
       <input type="hidden" name="" id="id">
      </form>
    
</section>

{% endblock body %}